<div>Todo listo para trabajar con sockets</div>
<script src="/socket.io/socket.io.js"></script>//verificar si esta linea esta bien, puede estar mal la ruta
<script src="/src/public/javascript/index.js"></script>